# Enrollment Verification | Office of the Registrar

Source: https://registrar.uoregon.edu/grades-records/enrollment-verification
Fetched: 2026-10-27
Found from: https://registrar.uoregon.edu

Enrollment Verification
Former students, without DuckID login, please reach out directly to the Office of the Registrar at transfercredits@uoregon.edu for enrollment verification.
As a current student, you may need enrollment verification to share with employers, banks and other lenders, or insurance companies. Getting your enrollment verification is easy.
For simple verifications for car and medical insurance, current students may use Myhub , with a DuckID login, a free and secure online service provided by the National Student Clearinghouse (NSC) . Or, create or access your Myhub account to:
Print an enrollment certificate.
View degrees earned.
See all enrollment information on file with the National Student Clearinghouse.
MyHub Login
Current students may also access their Myhub account within DuckWeb . Navigate to the Student menu and click the Print Enrollment Verification link. You will be asked to login with your DuckID after clicking the link.
If you are unable to log in or receive an "Oops, We Cannot Find You" message
Contact the National Student Clearinghouse customer support team at service@studentclearinghouse.org or 703-742-4200 .
